# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_gsedx99
VITE_EMAILJS_TEMPLATE_ID=template_n0zexel
VITE_EMAILJS_PUBLIC_KEY=xEOxLfJfo6mSBoL5g

# App Configuration
VITE_APP_NAME=AEC Portfolio
VITE_APP_VERSION=1.0.0
VITE_APP_URL=https://yourdomain.com
